body {
    background-image: url('../images/trivia-game-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.large-font {
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    color: white;
    overflow: hidden;
    position: fixed;
    }

#start-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
    }
    
.start-btn {
    margin-left: 626px;
    position: fixed;
    }

#selection-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
}

#question-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
}

#quiz-results {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
}

.hide {
    display:none;
   
}
