body {
    background-image: url('../images/trivia-game-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.large-font {
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    color: white;
    overflow: hidden;
    position: fixed;
    }

#start-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    }
    
.start-btn {
    margin-left: 626px;
    position: fixed;
    }

#selection-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
    overflow: hidden;
}

.genres {
    position:fixed;
    bottom: 540px;

  
}

#question-screen {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    right: 500px;
}

#question {
    color: white;
    font-size: 2em;
}

.options-screen {
    color: white;
    font-size: 3em;
}
#quiz-results {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
}

article {
    position: fixed;
    top: 300px;
    left: 744px;
}

footer{
    position:fixed;
    top: 653px;
    left: 650px;
}
.hide {
    display:none;
   
}
